@import 'global';
@import 'animations';
header{
    width: 100%;
    background-color: #f9f3eb;
    padding: 150px 0px 40px 0px;

    .item{
        width: 100%;

        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4{
                color: #E94446;
                font-size: 20px;
                font-weight: 500;
                margin: 0px;
                opacity: 0;
                transform: translateY(-10px);
                transition: transform 500ms linear;
            }

            h6{
                color: #000;
                font-size: 20px;
                font-weight: 900;
                margin: 20px 0px;
                opacity: 0;
                transform: translateX(-10px);
                transition: transform 500ms linear;
            }

            p{
                color: #888;
                font-size: 15px;
                font-weight: 500;
                line-height: 2.5rem;
                margin-bottom: 20px;
                opacity: 0;
                transform: translateX(10px);
                transition: transform 500ms linear;
            }

            .button-contain{
                display: flex;
                align-items: center;
                align-content: center;
                opacity: 0;
                transform: translateY(10px);
                transition: transform 500ms linear;

                a{
                    margin: 0px 10px;
                }
            }
        }

        .image-content{
            width: 100%;
            height: 400px;
            opacity: 0;
            transform: scale(0);
            transition: transform 500ms linear;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    .owl-item.active{
        .content{
            h4 , h6 , p , .button-contain{
                opacity: 1 !important;
                transform: translate(0px , 0px) !important;
            }
        }

        .image-content{
            opacity: 1;
            transform: scale(1) !important;
        }
    }
}

.small-banners{
    width: 100%;
    padding-top: 50px;

    .box{
        width: 100%;
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s linear;
        }

        .content{
            padding: 20px;
            position: relative;

            h4{
                color: #121212;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
                transition: all .3s linear;
            }
        }

        &:hover{
            img{
                transform: scale(1.2);
            }

            h4{
                transform: translateX(-10px);
            }
        }
    }
}

.products{
    width: 100%;
    padding: 50px 0px;
    background-color: #F4F2F2;
    .owl-stage{
        padding: 30px 0px;
    }
    &.most-see{
        background-color: #fff;
    }
}   

.banner{
    width: 100%;
    padding: 50px 0px 0px 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    &.small-banner{
        padding: 40px 10px;
        background-position: left !important;
    }
    &.details-banner{
        background: url('../images/header_contain.png');
    }

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h4{
            color: #E94446;
            font-size: 25px;
            font-weight: 900;
            margin: 0px;
        }

        h6{
            color: #000000;
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0px;
        }

        p{
            color: #888;
            font-size: 15px;
            font-weight: 500;
            line-height: 2.5rem;
            margin-bottom: 20px;
        }
    }

    .image-content{
        width: 100%;
        height: 500px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

.single-product{
    width: 100%;
    padding: 100px 0px !important;
    background-color: #fff;

    .owl-single-product{
        .item{
            .single-product-img{
                width: 100%;
                height: 600px;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .single-product-content{
        width: 100%;
        
        .single-product-name{
            width: 100%;
            font-size: 25px;
            font-weight: 800;
            color: #000;
            line-height: 2.5rem;
            margin: 0px
        }

        .price{
            width: 100%;
            padding: 20px 0px 0px;
            margin: 20px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            border-top: 1px solid #ddd;

            p{
                margin: 0px 0px;
                width: fit-content;
                padding: 0px 10px;
                
                &.before-price{
                    color: #808080;
                    font-size: 20px;
                    font-size: 500;
                    position: relative;
                    z-index: 9;
                    
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #808080;
                        top: 50%;
                        left: 0px;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }

                &.after-price{
                    color: #000;
                    font-size: 25px;
                    font-weight: 700;
                }

                &.discount{
                    padding: 7px 20px;
                    background-color: #E94446;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        .small-prodocut-description{
            font-size: 15px;
            font-weight: 500;
            margin: 0px;
            line-height: 2.5rem;
            color: #808080;
            text-align: justify;
        }
    }

    .prodcut-color-content,
    .product-size-avaliable{
        padding: 10px 0px !important;
        margin: 0px 0px 24px 0px;

        .single-product-name{
            margin-bottom: 20px;
            font-weight: 700;
        }
    }

    .procut-details{
        width: 100%;
        margin-top: 40px;
        padding-top: 50px;
        border-top: 1px solid #ddd;

        .nav{
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            border: 0px;
    
            .nav-item{
                margin: 0px 5px;
    
                .nav-link{
                    padding: 10px 20px;
                    border: 1px solid #E94446;
                    border-radius: 20px;
                    color: #000000;
                    font-size: 15px;
    
                    &.active{
                        background-color: #E94446;
                        border: 1px solid #E94446;
                        color: #fff;
                    }
                }
            }
        }

        .tab-content{
            width: 100%;
            margin-top: 50px;

            p{
                color: #808080;
                font-size: 15px;
                font-weight: 500;
                line-height: 2.5rem;
                text-align: justify;
            }
        }
    }
    
}

.products-fliter{
    width: 100%;
    padding: 100px 0px;
    .fiter-content{
        padding: 20px 0px;
        border-top: 1px solid #ddd;
        margin-top: 20px;

        h4{
            color: #000;
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 20px !important;
        }
        
        .form-check{
            margin-bottom: 20px;
        }
    }
    
}

.user-data{
    width: 100%;
    padding: 120px 0px 40px 0px;
    background-color: #fff;

    .user-content{
        width: 100%;
        padding: 40px 40px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba($color: #E94446 , $alpha: .2);
        border-radius: 20px;

        .form-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            .brand-name{
                .brand-img{
                    width: 120px;
                    height: 80px;
                    object-fit: contain;
                    object-position: center;
                    margin-bottom: 30px;
                }
            }

        }
        
        .rest-password{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 500;
            color: #808080;
        }

        .heading{
            margin-bottom: 30px !important;
        }

        .register-now{
            width: 100%;
            text-align: right;
            margin-top: 25px;
            font-size: 16px;
            font-weight: 500;
            color: #808080;
            
            span{
                color: #E94446;
                margin-right: 10px !important;
            }
        }
    }
}

.profile{
    width: 100%;
    padding: 100px 0px;
    background-color: #fff;

    .profile-nav{
        width: 100%;
        padding: 30px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .02);

        .nav{
            width: 100%;
            border: 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .nav-item{
                width: 100%;
                margin-bottom: 13px;

                &:last-child{
                    margin: 0px !important;
                }

                .nav-link{
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 40px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start;
                    border: 1px solid transparent;

                    .nav-icon{
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        margin-left: 10px;
                        filter: invert(51%) sepia(6%) saturate(0%) hue-rotate(307deg) brightness(89%) contrast(89%);
                    }

                    span{
                        color: #777;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    &.active , &:hover{
                        background-color: transparent !important;
                        border-color: #ddd;

                        .nav-icon{
                            animation: pulse .4s linear;
                            filter: invert(35%) sepia(57%) saturate(2738%) hue-rotate(332deg) brightness(91%) contrast(102%);
                        }

                        span{
                            color: #E94446
                        }
                    }
                }
            }
        }   
    }

    .profile-data{
        width: 100%;

        .profile-box{
            width: 100%;
            padding: 20px 10px;
            border: 1px solid #ddd;
            border-radius: 10px;

            .title{
                display: flex;
                align-items: center;
                align-content: center;
                width: 100%;
                margin-bottom: 20px;

                img{
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    filter: invert(51%) sepia(6%) saturate(0%) hue-rotate(307deg) brightness(89%) contrast(89%);
                    margin-left: 10px;
                }

                span{
                    color: #808080;
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            p{
                color: #121212;
                font-size: 14px;
                font-weight: 500;
                line-height: 2.5rem;
            }

            h4{
                color: #000000;
                font-size: 20px;
                font-weight: 800;
                margin: 0px !important;
                padding: 0px 30px 0px 0px;
            }
        }

        .edit-data{
            width: 100%;
            padding: 20px 10px;
            border: 1px solid #ddd;
            border-radius: 10px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            background-color: #fff;
            outline: none;

            img{
                width: 20px;
                height: 20px;
                object-fit: contain;
                filter: invert(51%) sepia(6%) saturate(0%) hue-rotate(307deg) brightness(89%) contrast(89%);
                margin-left: 10px;
            }

            span{
                color: #808080;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .table{
            th{
                color: #121212;
                font-size: 16px;
                font-weight: 700;
                vertical-align: middle;
            }

            td{
                color: #808080;
                font-size: 15px;
                font-weight: 500;
                vertical-align: middle;

                .order-type{
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-weight: 500;
                    font-size: 15px;
                    min-width: 150px !important;

                    &.yellow{
                        background-color: #f7b926;
                        color: #808080;
                    }

                    &.red{
                        background-color: #E94446;
                        color: #000;
                    }

                    &.green{
                        background-color: #3dba69;
                        color: #fff;
                    }
                }
            }
        }
    }
}
@import 'media';